.wrapper {
  display: flex;
  flex-direction: column;
}

.filtersInnerWrap {
  display: flex;
  flex-wrap: wrap;
}

.filtersInnerWrap > span {
  margin-right: 20px;
}

/* to hide the checkbox itself */
.stuffBox:not(:checked),
.stuffBox:checked,
.stoneBox:not(:checked),
.stoneBox:checked,
.stuffBox,
.stoneBox {
  display: none;
}

/* Base for label styling */
.stoneBox:not(:checked) + label,
.stoneBox:checked + label,
.stuffBox:not(:checked) + label,
.stuffBox:checked + label {
  position: relative;
  padding-left: calc(1rem + 0.5vw);
  font-size: calc(0.8rem + 0.5vw);
  cursor: pointer;
}

/* unchecked icon */
.stoneBox:not(:checked) + label:before,
.stoneBox:checked + label:before,
.stuffBox:not(:checked) + label:before,
.stuffBox:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: calc(0.5rem + 0.5vw);
  height: calc(0.5rem + 0.5vw);
  background: #FFF;
  border-radius: 2px;
  box-shadow: inset 1px 1px 3px -1px rgba(0, 0, 0, .1), 0 0 0 rgba(203, 34, 237, .2);
  -webkit-transition: all .275s;
  transition: all .275s;
}

.stuffBox:not(:checked) + label:before,
.stuffBox:checked + label:before {
  border: 2px solid #561B0B;
}

.stoneBox:not(:checked) + label:before,
.stoneBox:checked + label:before {
  border: 2px solid #D0AF51;
}

/* checked mark aspect */
.stoneBox:not(:checked) + label:after,
.stoneBox:checked + label:after,
.stuffBox:not(:checked) + label:after,
.stuffBox:checked + label:after {
  content: '\1F5F8';
  position: absolute;
  top: calc(6px + 0.3vw);
  left: 1px;
  font-size: calc(1.5rem + 0.5vw);
  line-height: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.stuffBox:not(:checked) + label:after,
.stuffBox:checked + label:after {
  color: #561B0B;
}

.isStone {
  color: #a10909;
}

.stoneBox:not(:checked) + label:after,
.stoneBox:checked + label:after {
  color: #a10909;
}

/* checked mark aspect changes */
.stoneBox:not(:checked) + label:after,
.stuffBox:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0) rotate(45deg);
  transform: scale(0) rotate(45deg);
}

.stoneBox:checked + label:after,
.stuffBox:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}


@media only screen and (max-device-width: 480px) {
  .filtersWrap {
    display: none;
  }
}


@media only screen and (min-device-width: 1122px) {
  .wrapper {
    flex-direction: row;
  }

  /* 

  .isStone > span:nth-of-type(2) {
    margin-right: 10px;
  }

  .filtersInnerWrap:nth-of-type(2) {
    margin-left: 10px;
  } */
}