.navBar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #561b0b;
  color: #fff;
}

ul.userMenu,
ul.siteMenu {
  gap: 10px;
}

ul.userMenu > li:hover,
ul.siteMenu > li:hover {
  text-decoration: underline 2px;
  text-underline-offset: 3px;
  -webkit-text-decoration: underline 2px;
}

.siteMenu li {
  position: relative;
}

.categoryMenu {
  /* display: none; */
  position: absolute;
  top: 110%;
  left: 0px;
  z-index: 10;
  background: linear-gradient(180deg, rgba(252, 250, 246, 0), #fcfaf6 6%);
  border-radius: 4px 4px 0 0;
}

.siteMenu li:hover {
  .categoryMenu {
    display: block;
  }
}

.searchField {
  /* text-align: center; */
}

.navMenu span {
  /* position: relative; */
}