/*
+control--is-focused
-control--menu-is-open
+custom__value-container 
-custom__value-container--is-multi 
-custom__value-container--has-value
+custom__multi-value
-custom__multi-value__label
+custom__multi-value__remove
-custom__input-container visibility: hidden;
-custom__indicators
-custom__indicator custom__clear-indicator
+custom__indicator-separator
+custom__indicator custom__dropdown-indicator 
+custom__menu
-custom__menu-list custom__menu-list--is-multi
custom__option
custom__option custom__option--is-focused
option:active
*/

.filtersContainer {
  width: 60vw;
  /* background-color: #FCFAF6; */
}

div.control {
  border: none;
  /* min-height: 2rem; */
  /* cursor: pointer; */
  /* background-color: #FCFAF6;
  border: 1px solid #d0af51;
  border-radius: 2px; */
  flex-direction: row-reverse;
  align-items: flex-end;
}

div.control:hover {
  border: none;
  /* border: 1px solid #A10909; */
  /* 
  & span.separator {
    background-color: #a10909;
  }

  & div.dropdown {
    color: #a10909;
  } */

}

div.controlFocused {
  /* border: 1px solid #A10909; */
  border: none;
  box-shadow: none;
  /* cursor: pointer; */
  /* box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1); */
  /* 
  & div.dropdown {
    color: #a10909;
  } */
  flex-direction: row-reverse;
  align-items: flex-end;
}

div.controlFocused:hover {
  border: none;
  /* border: 1px solid #A10909; */
}

div.controlListOpen:hover {
  /* border: 1px solid #A10909; */
  /* border-bottom: none;
  border-radius: 2px 2px 0 0; */
  /* cursor: pointer; */
}

div.controlListOpen {
  border: none;
  box-shadow: none;
  /* min-height: 2rem; */
  /* border: 1px solid #A10909;
  border-bottom: none;
  border-radius: 2px 2px 0 0; */
  flex-direction: row-reverse;
  align-items: flex-end;
}


div.valueContainer {
  /* position: absolute; */

  padding: 0 0 0 10px;
  display: flex;
  flex-flow: wrap;
  /* padding: 2px; */
  text-wrap: nowrap;
}

div.valueContainer > div {
  cursor: pointer;
  width: fit-content !important;
  font-size: calc(0.8rem + 0.3vw);
  /* line-height: 2.5; */
}

div.multiValue {
  /* -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear; */
  width: fit-content;
  font-size: calc(0.8rem + 0.3vw);
  justify-content: space-between;
  background-color: #FCFAF6;
  /* color: #561B0B; */
  /* border: 1px solid #561B0B; */
  /* box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1); */
  box-shadow: 0 0 0 1px hsl(13deg 77% 19% / 50%), 0 4px 11px hsl(13deg 77% 19% / 10%);
  /* padding: 2px;
  margin: 2px; */
  /* font-weight: 700; */
}

div.multiValue > div {
  color: #561b0b;
  /* line-height: 1.5rem; */
  padding-left: 6px;
  font-size: calc(0.8rem + 0.3vw);
}

div.multiValueRemove:hover {
  border-radius: 0;
  background-color: #561B0B;
  color: #fff;
}

div.indicatorsContainer {
  align-items: flex-end;
  cursor: pointer;
  /* color: #d0af51; */
}

span.separator {
  display: none;
  /* background-color: #d0af51;
  margin: 6px 0; */
}

span.separatorFocused {
  display: none;
  /* background-color: #a10909;
  margin: 6px 0; */
}

div.dropdown {
  padding: 0px;

  & img {
    height: calc(28px + 0.3vw);
    width: auto;
  }

  /* &:hover {
    color: #a10909;
  } */
}

div.list {
  top: 110%;
  left: calc(2.5rem + 0.3vw);
  background: #fcfaf6;
  /* max-width: 60vw; */
  /* width: 100%; */
  /* min-width: 30vw;*/
  margin: 0;
  text-wrap: nowrap;
  border-radius: 2px;
  /* border: 1px solid #a10909; */
  /* border-top: none; */
  /* border-radius: 0 0 2px 2px; */
  /* box-shadow: 0px 1px 0 1px hsla(0, 0%, 0%, 0.1), 0px 4px 11px 0px hsla(0, 0%, 0%, 0.1); */
  box-shadow: 0 0 0 1px hsl(13deg 77% 19% / 50%), 0 4px 11px hsl(13deg 77% 19% / 10%);
}

div.option,
div.optionFocused {
  background: #fcfaf6;
  width: calc(100% - 8px);
  /* padding: 10px; */
  margin: 0 4px;
  color: #270200;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.44);
  font-size: calc(0.8rem + 0.3vw);
  /* cursor: pointer; */
  /* -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear; */
}

div.option:nth-last-of-type(1) {
  border: none;
}

div.optionFocused:hover {
  padding: 5px;
  font-size: calc(0.8rem + 0.3vw);
  width: calc(100% - 8px);
  /* padding: 10px; */
  margin: 0 4px;
  color: #fff;
  background-color: #270200;
  cursor: pointer;
}

div.optionFocused:active {
  background-color: #270200;
}

/* div.optionFocused {
  width: calc(100% - 8px);
  background-color: #F9E676;
  padding: 10px;
  margin: 0 4px;
  color: #270200;
} */

@media only screen and (max-device-width: 480px) {
  div.dropdown {
    & img {
      display: none;
    }
  }

  div.list {
    left: 0px
  }

  div.valueContainer {
    padding: 5px 10px;
    background-color: #fcfaf6;
    border-radius: 2px;
    box-shadow: 0 0 0 1px hsl(13deg 77% 19% / 50%), 0 4px 11px hsl(13deg 77% 19% / 10%);
  }
}

@media only screen and (min-device-width: 480px) {
  div.list {
    width: fit-content;
  }
}