.title {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 120%;
  text-transform: uppercase;
  font-family: var(--font-messiri);
  color: #561b0b;
  text-align: center;
  margin-top: 2.5rem;
}

.galleryWrapper {
  padding: 1.25rem 1.875rem;
  gap: 3.75rem 1.875rem;

  & > p {
    margin: 0 auto;
    font-size: large;
  }
}

.spinner {
  display: block;
  margin: 0 auto;
}