/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

/*********************************************************************/
.galleryWrap {
  width: 100%;
  background-color: #fff;
  padding: 40px 0;
}

.gallery {
  height: 300px;
}

.galleryTitle {
  text-align: center;
  font-size: 28px;
  color: #561b0b;
  line-height: 120%;
}

.ctgWrap {
  padding-bottom: 10vh;
  background-color: #FCFAF6;
}

.ctgUpper {
  width: 100%;
  padding: 0 6vw 6vh;
}

.ctgTitle {
  padding: 6vh 0;
  text-transform: uppercase;
  font-family: var(--font-cinzel);
  font-size: calc(1.5rem + 2vw);
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 5px;
  color: #A10909;
}

.ctgDesc {
  color: #270200;
  line-height: 120%;
  font-size: calc(1rem + 0.3vw);
}

.ctgBottom {
  margin: 1.25rem auto;
  gap: calc(1rem + 3vw);
  justify-content: center;
}

.discountWrap {
  width: 100%;
  background-color: #270200;
}

.discLeft {
  width: 50%;
  background-image: url('/images/discount15.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.discPrice {
  width: 8vw;
  height: 8vw;
  margin-left: calc(1rem + 1vw);
  margin-top: calc(1rem + 1vh);
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #A20909;
  color: #FFF;
  font-family: var(--font-messiri);
  font-size: calc(1rem + 2vw);
  font-weight: 700;

}

.discRight {
  padding: 1.25rem;
  gap: 1.25rem;
  width: 50%;

  justify-content: center;
  color: #fff;
  text-align: center;
}

.discTitle {
  line-height: 150%;
  font-size: calc(1.5rem + 1.5vw);
}

.discDesc {
  padding: 0 2vw 7vh;
  font-size: calc(1rem + 0.3vw);
}

@media only screen and (max-device-width: 480px) {
  .ctgWrap {
    padding-bottom: 6vh;
  }

  .ctgTitle {
    padding: 3vh 0;
    text-align: center;
  }

  .ctgBottom {
    flex-direction: column;
    width: 90%;
    gap: 2.5rem;
  }

  .ctgUpper {
    padding: 1.5rem;
  }

  .discountWrap {
    flex-direction: column;
  }

  .discLeft,
  .discRight {
    width: 100%;
  }

  .discLeft {
    height: 14rem;
  }
}

@media only screen and (min-device-width: 481px) {
  .discLeft {
    min-height: 45vh;
  }

  .discRight {
    gap: 2.5rem;
  }

  .ctgBottom {
    width: 90%;
  }
}

@media only screen and (max-device-width: 768px) {
  .ctgBottom {
    margin: 0 auto;
  }
}

@media only screen and (min-device-width: 1024px) {
  .discLeft {
    height: 30rem;
  }

  .ctgBottom {
    gap: calc(1rem + 5vw);
  }
}