.formWrap {
  padding: 40px;
  font-size: 18px;
  gap: 5px;
  /* border: 1px solid #977924; */
  border-radius: 0 6px 6px 6px;
  box-shadow: 0px 1px 4px 1px #c4ab68e1;


  & h3 {
    margin-bottom: 20px;
    color: #561b0b;
    padding-left: 10px;
  }

  & > span {
    padding-left: 10px;
  }

  & > span:nth-last-of-type(1) {
    font-size: 14px;
  }
}


.formWrap input {
  /* width: 100%; */
  /* width: 20vw; */
  line-height: 150%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #977924;
  border-radius: 6px;

  &:focus {
    outline-color: #561b0b;
  }
}

.submitBtn {
  width: fit-content;
  padding: 10px 20px;
  margin: 10px 0;
  color: #561b0b;
  font-size: 18px;
  font-family: var(--font-marcellus);
  font-weight: 700;
  background-image: url('/images/ribbonGold.png');
  background-size: contain;
  border-radius: 6px;
}

.modalText {
  color: #270200;
  text-align: center;

  & h3 {
    letter-spacing: 1px;
  }
}

@media only screen and (max-device-width: 480px) {
  .formWrap input {
    /* width: 80vw; */
    /* padding: 20px; */
  }
}