.icon {
  position: relative;

  & img {
    vertical-align: -webkit-baseline-middle;
  }
}

.badge {
  position: absolute;
  font-size: 0.8rem;
  text-align: center;
  align-content: center;
  bottom: 0;
  right: 0;
  width: 1.3rem;
  height: 1.3rem;
  background-color: #a10909;
  border: 2px solid #fff;
  border-radius: 50%;
}