.goTopHidden {
  display: none;
}

.goTop {
  display: block;
  position: fixed;
  bottom: 1%;
  right: 1%;
  width: calc(3rem + 1vw);
  height: calc(3rem + 1vw);
  cursor: pointer;
  z-index: 10;

  &:hover {
    border-radius: 50%;
    outline: 2px solid #A20909;
    outline-offset: -2px;

  }
}

.goTop > img {
  width: 100%;
  height: auto;
}

/* @media only screen and (min-device-width: 920px) {
  .goTop:hover {
    outline-offset: 3px;
  }
}

@media only screen and (min-device-width: 920px) {
  .goTop {
    width: calc(3rem + 1vw);
    height: calc(3rem + 1vw);
  }
} */

@media only screen and (max-device-width: 480px) {
  .goTop:hover {
    outline: 1px solid #A20909;
  }
}