.catLinks li {
  text-wrap: nowrap;
  padding: 2px;
}

.catLinks li:hover {
  text-decoration: underline;
}

/* .catLinks li:hover:nth-child(odd) {
  text-decoration: underline;
  color: #D0AF51;
  text-shadow: 1px 1px 0px #977924;
}

.catLinks li:hover:nth-child(even) {
  text-decoration: underline;
  color: #829B9B;
  text-shadow: 1px 1px 0px #00000093;
} */