.header {
  height: 60vh;
  background-color: #270200;
  margin-bottom: 2.5rem;
  align-items: end;
  justify-content: space-between;
}

/* .logoImg {
  margin: 40px auto;
} */

.searchField {
  margin: 0 20px 20px 0;
  position: relative;
  width: 30vw;
  min-width: 13rem;
}

.searchField input {
  line-height: 100%;
  width: 100%;
  padding: 0.4rem 2.5rem 0.4rem 1rem;
  border: none;
  border-radius: 2px;

  &:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
  }
}

.searchField::before {
  position: absolute;
  right: 2px;
  top: 1.5px;
  content: url('/images/icons/search.svg');
  display: block;
  transform: rotateY(180deg);
  z-index: 1;
  cursor: pointer;
}

@media only screen and (min-device-width: 769px) {

  .searchField input {
    line-height: 150%;
  }

  .searchField::before {
    position: absolute;
    right: 3px;
    top: 4px;
  }
}