.navBar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0.3rem 1rem;
  background-color: #561b0b;
  color: #fff;
  font-family: var(--font-prosto);
}

.logoImg,
.siteMenu,
.userMenu {
  width: 33%;
}

.userMenu {
  justify-content: end;
}

.userMenu li {
  display: flex;
  align-items: center;
}

.logoImg {
  display: flex;
  justify-content: center;
}

.logoImg img {
  width: 100%;
  max-width: 382px;
  height: auto;
  vertical-align: -webkit-baseline-middle;
}

.searchField {
  width: 100%;
  position: relative;
  min-width: 13rem;
}

.searchField input {
  line-height: 100%;
  width: 100%;
  padding: 0.3rem 2rem 0.3rem 0.5rem;
  border: none;
  border-radius: 2px;
}

.searchField input:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.searchField::before {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(/images/icons/search.svg);
  background-size: cover;
  background-repeat: no-repeat;
  right: 2px;
  top: 3px;
  content: '';
  display: block;
  transform: rotateY(180deg);
  z-index: 1;
  cursor: pointer;
}

ul.userMenu,
ul.siteMenu {
  gap: 10px;
}

ul.siteMenu > li:hover {
  -webkit-text-decoration: underline 2px;
  text-decoration: underline 2px;
  text-underline-offset: 3px;
}

.siteMenu li {
  position: relative;
}

.categoryMenu {
  display: none;
  position: absolute;
  background: linear-gradient(180deg, rgba(252, 250, 246, 0), #fcfaf6 6%);
  border-radius: 2px 4px 2px 2px;
  padding: 1rem 0.5rem 0.5rem;
  color: #561b0b;
  line-height: 120%;
}

.siteMenu li:hover {
  .categoryMenu {
    display: block;
  }
}


.hamburgerIcon {
  display: none;
  position: relative;
}

@media only screen and (max-device-width: 479px) {
  .logoImg {
    display: none;
  }

  .searchField {
    display: block;
  }

  .siteMenu,
  .userMenu {
    width: fit-content;
  }
}

@media only screen and (min-device-width: 480px) {
  .logoImg {
    display: flex;
  }

  .searchField {
    display: none;
  }
}

@media only screen and (max-device-width: 919px) {
  ul.siteMenu > li {
    display: none;
  }

  .hamburgerIcon {
    display: block;
  }
}

@media only screen and (min-device-width: 1280px) {
  .categoryMenu {
    font-size: calc(0.7rem + 0.6vw);
  }

  .navBar {
    padding: 0.3rem 2.5rem;
    font-size: calc(0.7rem + 0.8vw);
  }

  ul.userMenu,
  ul.siteMenu {
    gap: 20px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1279px) {
  .navBar {
    font-size: 18px;
    padding: 0.3rem 1.5rem;
  }

  ul.userMenu,
  ul.siteMenu {
    gap: 15px;
  }
}