.navBar {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
  background-color: #561b0b;
  color: #fff;
  font-family: var(--font-prosto);
  font-size: calc(0.7rem + 0.8vw);
}

.siteMenu,
.userMenu {
  align-items: center;
}

ul.userMenu,
ul.siteMenu {
  gap: 10px;
}

ul.siteMenu > li:hover {
  -webkit-text-decoration: underline 2px;
  text-decoration: underline 2px;
  text-underline-offset: 3px;
}

.siteMenu li {
  position: relative;
}

.categoryMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 10;
  background: linear-gradient(180deg, rgba(252, 250, 246, 0), #fcfaf6 6%);
  border-radius: 4px 4px 0 0;
}

.siteMenu li:hover {
  .categoryMenu {
    display: block;
  }
}

.searchField {
  position: absolute;
  left: calc(50% - 10vw);
  height: -webkit-fill-available;
}

.searchField input {
  position: absolute;
  top: 1vw;
  width: 20vw;
  padding: 0.4rem 2.5rem 0.4rem 1rem;
  border: none;
  border-radius: 2px;

  &:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
  }
}

.searchField::before {
  position: relative;
  top: 1.1vw;
  content: url('/images/icons/search.svg');
  display: block;
  z-index: 1;
}

/* @media only screen and (min-device-width: 1440) {
  .searchField::before {
    position: absolute;
    top: 1.05vw;
  }
} */