.catName {
  margin: calc(1rem + 3vw) auto calc(1rem + 5vw);
  font-family: var(--font-cinzel);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #561b0b;
}

.filtersPopup {
  display: none;
  margin: 0 2.5rem 1rem 5.5rem;
}

.filterSort {
  margin: 0 2.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  color: #561b0b;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: calc(1rem + 0.5vw);
}

.filtersMore {
  display: none;
  font-size: calc(0.8rem + 0.5vw);
}

.filtersGroup {
  display: block;
}

.galleryWrapper > p {
  margin: 0 auto;
  font-size: x-large;
}

.galleryWrapper {
  padding: 1.25rem 1.875rem;
  gap: 3.75rem 1.875rem;
}

@media only screen and (max-device-width: 640px) {
  .catName {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  .filtersPopup,
  .filtersMore {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .filtersGroup {
    display: none;
  }
}

@media only screen and (min-device-width: 1024px) {
  .catName {
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}