.catName {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 120%;
  text-transform: uppercase;
  font-family: var(--font-cinzel);
  color: #561b0b;
  text-align: center;
  margin-top: 2.5rem;
}

.filters {
  padding: 2.5rem;
}

.galleryWrapper {
  padding: 1.25rem 1.875rem;
  gap: 3.75rem 1.875rem;

  & > p {
    margin: 0 auto;
    font-size: x-large;
  }
}

@media only screen and (max-device-width: 480px) {
  .catName {
    /* text-align: center; */
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}

@media only screen and (min-device-width: 1024px) {
  .catName {
    font-size: 2.5rem;
    letter-spacing: 5px;
  }
}